
<nav><!-- top nav -->
		<div class="menu">
			<ul>
				<li><%= nav_link_to "Home","home", page_home_path, "current_page" %></li>
				<li><%= link_to "About us", page_about_us_path %></li>
				<li><%= link_to "Products", page_products_path %></li>
				<li><%= link_to "Services", page_services_path %></li>
				<li><%= link_to "Support", page_support_path %></li>
				<li><%= link_to "Contact us", page_contact_us_path %></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->
	<section id="main"><!-- #main content and sidebar area -->
			<section id="content"><!-- #content -->
				